@charset "utf-8";

body {
    font-family: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック',sans-serif;
    width: 100%;
}

a {
	text-decoration: none;
}


*{
	margin:0; 
	padding:0 
}


